{% extends "base.html" %}

{% block contents %}
<h2>{{ _('Disks') }}</h2>

<div id="disks" class="row">
{% for disk in disks %}
  <div class="col-md-4"><div class="well">
    {% if disk.mounted %}
        {% if disk.label %}<span class="pull-right">{{ disk.label }}</span>{% endif %}
        <h3>{{ disk.mountpoint }}</h3>
        <div class="row usage">
            <div class="col-md-4" title="disk size">
                {{ disk.usage.total|filesizeformat }}</div>
            <div class="col-md-8">
                <div class="progress">
                {% set used = disk.usage.used|filesizeformat %}
                  <div title="{{ _('%(used)s in use', used = used) }}"
                    class="progress-bar" style="width: {{ disk.usage.percent }}%;">
                    {{ disk.usage.percent }}%</div>
                </div>
            </div>
        </div>
        <a class="btn btn-warning" href="{{ url_for('disks.unmount', uuid=disk.uuid) }}"
            title="{{ _('Unmount %(device)s from %(mountpoint)s', device = disk.dev, mountpoint = disk.mountpoint) }}">
            <span class="glyphicon glyphicon-minus"></span> {{ _('Unmount') }}</a>
    {% else %}
        <h3>{% if disk.label %}{{ disk.label }}{% else %}{{ disk.dev }}{% endif %}</h3>
        <p>{{ _('Type: %(type)s', type = disk.type) }}</p>
        <a class="btn btn-success" href="{{ url_for('disks.mount', uuid=disk.uuid) }}">
            <span class="glyphicon glyphicon-plus"></span> {{ _('Mount') }}</a>
    {% endif %}
  </div></div>
{% endfor %}

</div>

{% endblock %}
