<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}Flaskberry{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="styles.css") }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block header %}{% endblock %}
    </head>

    <body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-logo" href="/" alt="Flaskberry"></a>
                <ul class="nav navbar-nav">
                    {% for module in config['ENABLED_MODULES'] %}
                        <li><a href="{{ url_for(module+".index")}}">{{ _(module.capitalize()) }}</a></li>
                    {% endfor %}
                    {% for url, link in config['EXTERNAL_LINKS'] %}
                        <li><a href="{{ url }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class="container" id="main">

            {% for message in get_flashed_messages() %}
                <p class="alert alert-warning">{{ message|safe }}</p>
            {% endfor %}

            <div id="contents">
                {% block contents %}{% endblock %}
            </div>
        </div>

        <div id="footer" class="text-muted">
            <div class="container">
                {% autoescape false %}
                {{ _('%(flaskberry)s, a simple web interface for the Raspberry Pi', 
                    flaskberry = '<a href="https://github.com/rangermeier/flaskberry">Flaskberry</a>') }}
                <br>
                {{ _('Raspberry Pi is a trademark of the %(rpf)s',
                    rpf = '<a href="http://raspberrypi.org/">Raspberry Pi Foundation</a>') }}
                {% endautoescape %}
            </div>
        </div>
    </div>
  </body>
</html
