<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Flaskberry{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script type="text/javascript" src="//canjs.com/release/2.1.4/can.jquery.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% block header %}{% endblock %}
    </head>

    <body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="/" alt="Flaskberry"></a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for module in config['ENABLED_MODULES'] %}
                            <li><a href="{{ url_for(module+".index")}}">{{ _(module.capitalize()) }}</a></li>
                        {% endfor %}
                        {% for url, link in config['EXTERNAL_LINKS'] %}
                            <li><a href="{{ url }}">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" id="main">

            {% for message in get_flashed_messages() %}
                <p class="alert alert-warning">{{ message|safe }}</p>
            {% endfor %}

            <div id="contents">
                {% block contents %}{% endblock %}
            </div>
        </div>

        <div id="footer" class="text-muted">
            <div class="container">
                {% autoescape false %}
                {{ _('%(flaskberry)s, a simple web interface for the Raspberry Pi', 
                    flaskberry = '<a href="https://github.com/rangermeier/flaskberry">Flaskberry</a>') }}
                <br>
                {{ _('Raspberry Pi is a trademark of the %(rpf)s',
                    rpf = '<a href="http://raspberrypi.org/">Raspberry Pi Foundation</a>') }}
                {% endautoescape %}
            </div>
        </div>
    </div>
  </body>
</html>
