{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
var refreshTarget = "#info"
</script>
<script type="text/javascript" src="{{ url_for("static", filename="refresh.js") }}"></script>
{% endblock %}

{% block contents %}

<h2>System</h2>
<p>
    <a class="btn btn-danger btn-lg" href="{{ url_for('system.shutdown') }}">
        <span class="glyphicon glyphicon-off"></span>
        Shutdown
    </a>
    <a class="btn btn-danger btn-lg" href="{{ url_for('system.reboot') }}">
        <span class="glyphicon glyphicon-refresh"></span>
        Reboot
    </a>
</p>
<h3>System Information</h3>
<p id="info">
    Uptime: {{ uptime }}<br>
    <span title="1 min, 5 min, 15 min">Load Average:
        {{ load|join(', ') }}</span><br>
    Network: {{ net.bytes_sent|filesizeformat }} sent,
        {{ net.bytes_recv|filesizeformat }} received<br>
    Memory: {{ (memory.total - memory.available)|filesizeformat }} of
        {{ memory.total|filesizeformat }} used
        ({{ memory.percent }}%)<br>
    Swap: {{ (swap.total - swap.free)|filesizeformat }} of
        {{ swap.total|filesizeformat }} used
        ({{ swap.percent }}%)<br>
</p>
{% endblock %}
