{% extends "base.html" %}

{% block contents %}

<h2>System</h2>
<p>
    <a class="btn btn-danger btn-lg" href="{{ url_for('system.shutdown') }}">
        <span class="glyphicon glyphicon-off"></span>
        Shutdown
    </a>
    <a class="btn btn-danger btn-lg" href="{{ url_for('system.reboot') }}">
        <span class="glyphicon glyphicon-refresh"></span>
        Reboot
    </a>
</p>
<h3>System Information</h3>
<div class="well col-md-6">
    Uptime: {{ uptime }}<br>
    Load Average: {{ load|join(', ') }}
</div>
{% endblock %}
