html, body {
    height: 100%;
}
body {
    background: url(img/raspberry_pi_logo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 360px -30px;
}
#wrapper {
    min-height: 100%;
    position: relative;
    background: rgba(255,255,255,0.9);
}
.navbar .navbar-logo {
    background: url(img/raspberry_pi_logo.svg);
    background-size: 24px;
    height: 30px;
    width: 24px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.navbar-nav > li {
    /* we don't use a collapsing menu, keep menu elements floating on small screens */
    float: left;
}

#main {
    margin-bottom: 0px;
    padding-bottom: 42px; /* Height of the footer */
    padding-top: 60px;
}

#disks h3 {
    margin: 0 0 12px;
}

#movies video {
    margin-top: 1.8em;
    background: #000;
}

#footer {
    border-top: 1px #adadad solid;
    padding-top: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 42px;
    background-color: rgba(255,255,255,0.7);
    font-size: 12px;
}
