{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
var moviesUrl = "{{ config['MOVIES_URL'] }}"
</script>
<script type="text/javascript" src="{{ url_for("static", filename="movies.js") }}"></script>
{% endblock %}

{% block contents %}
<h2>{{ _('Movies') }}</h2>

<div id="movies">
    <div>
        <div class="btn-group">
        {% for char, movie_group in movies.iteritems() %}
            <a href="#{{char}}" class="btn btn-default">{{char}}</a>
        {% endfor %}
        </div>
        <a href="{{ url_for('movies.refresh') }}" 
            title="{{ _('This list is cached for performance reasons, click here to re-scan your library') }}"
            >{{ _('Refresh') }}</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="video-container">
                <video id="player" width="100%" controls></video>
            </div>
        </div>

        <div class="col-md-6">
        {% for char, movie_group in movies.iteritems() %}
            <h2 id="{{char}}">{{char}}</h2>
            <ul>
            {% for movie in movie_group %}
                <li><a href="#" class="movie" data-movie="{{ movie.path|urlencode }}">{{ movie.name }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
